.opportunities{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.opportunity img{
    width: 100%;
    border-radius: 8px;
    display: block;
    margin: 20px;
    
}
.opportunity{
    flex-basis: calc(33.33% - 20px);
    margin: 5px;
}
.opportunity h3{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
    margin-left: 20px;
}
.opportunity p{
    font-size: 18px;
    font-weight: 0;
    margin: 10px 0;
    margin-left: 20px;
}
.btn-opportunity{
    margin-left: 20px; 
    background:#0d0d0e;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.opportunities h1 {
    text-align: center;
    margin-bottom: 0px;

}