nav{
    width: 100%;
   
    color: white;
    padding: 4px 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3px;
    
    
}
.logo{
    width: 100px;
    height: 55px;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 17.5x;
}
.dark-nav{
    background: #7b84d3;
    transition: 0.5s;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
nav ul li a:hover{
    color: #cdced6;
}
.menu-icon{
    display: none;
}

@media (max-width: 1000px){
    .logo{
        width :40px;
    }
    nav ul li{
        margin: 10px 15px;
        
    }
}
@media (max-width: 840px){
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right:0;
        bottom: 0;
        background: #7b84d3;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
        margin-left: 65%;
    }
    .hide-mobile-menu{
        right: -200px;
    }
}
